body {
    background-color: rgb(232, 219, 202);
    color:rgb(58, 46, 135);
}

.popular{
    font-weight: bold;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

th,
td{
    padding: 0.4rem 1rem 0.4rem 0;
    text-align: left;
    border: 1px solid black;
}

nav{
    gap: 1rem;
    margin-top: 1rem;
}

h1{
    text-align: center;    
}

form{
    margin: 1rem auto;
    text-align: center;
}

form label,
form input{
    display: block;
    margin: 0.5rem auto;
}

.success,
.error,
.home-link{
    text-align: center;
}

.success{
    color: green;
}

.error{
    color: red;
}


